@using Portal.Domain.Entities;

@model UserListPageViewModal

@{
    ViewData["Title"] = "KullaniciYonetimi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>



<body>
    <h2>Kullanıcı Yönetimi</h2>

    <table class="table table-bordered" >
        <tr>
            <td> <div >Kullanıcı ID</div></td>
            <td>Kullanıcı Adı</td>
            <td>Kullanıcı Rolü</td>
            <td>Son Değişiklik</td>
            <td>Sil</td>
            <td>Güncelle</td>

        </tr>
        @foreach (var item in Model.User)
        {
            <tr>
                <td> <div style="min-width:100px;">@item.Id </div></td>
                <td>@item.UserName</td>
                <td id="deneme_@item.Id"></td>
                @{
                    <script>
                        var obj = document.getElementById('deneme_@item.Id');
                    </script>
                    if (item.Role == 2)
                    {
                        <script>
                            obj.innerHTML = 'Admin';
                        </script>
                    }
                    if (item.Role == 1)
                    {
                        <script>
                            obj.innerHTML = 'Kullanıcı';
                        </script>
                    }
                }

                    <td>@item.CreatedDate</td>
                <td id="silButton"><a asp-controller="Home" asp-action="KullaniciSil" asp-all-route-data="@(new Dictionary<string,string>(){{"Id",item.Id.ToString()}})" class="btn btn-danger">Sil</a></td>
                <td><a asp-controller="Home" asp-action="KullaniciEdit" asp-all-route-data="@(new Dictionary<string,string>(){{"Id",item.Id.ToString()}})" class="btn btn-warning">Güncelle</a></td>
                </tr>
        }
    </table>
 
    <button type="button" class="btn btn-primary" id="kullanicieklegetir">Yeni Kullanıcı Ekle</button>

    <form method="post" action="/Home/KullanıcıEkle" enctype="multipart/form-data">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="form-group" id="exampleModalLabel">YENİ KULLANICI EKLE</h1>
                    </div>
                    <div class="modal-body">

                        <h3>Kullanıcı Adı	</h3>
                        <div class="form-group" id="kullaniciadi"> @Html.TextBoxFor(elm=>elm.SingleUser.UserName, new {@class = "form-control", @type="text", @placeholder="Kullanıcı adı giriniz...", @value = Model?.SingleUser.UserName}) </div>


                        <h3>Şifre</h3>
                        <div class="form-group" id="sifre"> @Html.TextBoxFor(elm=>elm.SingleUser.Password, new {@class = "form-control", @type="text", @placeholder="Şifre giriniz...", @value = Model?.SingleUser.Password}) </div>

                        @{
                            // Örnek bir liste oluşturma
                            List<SelectListItem> roleList = new List<SelectListItem>
                        {
                        new SelectListItem { Value = "1", Text = "Kullanıcı" },
                        new SelectListItem { Value = "2", Text = "Admin" },

                        // Daha fazla seçenek eklenebilir
                        };
                        }

                        <h3>Kullanıcı Rolü</h3>
                        <div class="form-group" id="rol">
                            @Html.DropDownListFor(elm => elm.SingleUser.Role, new SelectList(roleList, "Value", "Text"), new { @class = "form-control", id = "roleDropdown" })
                        </div>


                        @*                    TEXTBOXLARI BOŞ GETİRME SCRİPTİ
                        *@

                        @{
                                <script>
                                   
                                    document.getElementById("kullaniciadi").querySelector("input").value = "";
                                    document.getElementById("sifre").querySelector("input").value = "";
                                </script>
                        }


                        <div class="modal-footer">
                            <a class="btn btn-secondary" asp-action="AdminKullaniciListesi">İptal</a>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>


    <script>
        $('body').on('click', '#kullanicieklegetir', function () {
            $(".modal").modal('show');
        })
    </script>


</body>
</html>


