@using Portal.Domain.Entities
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model ApiPageViewModel

<html>
<head>
 <title>Admin Paneli - Api Ayarları</title>
</head>

<body >
    @{
        // Örnek bir liste oluşturma
        List<SelectListItem> ApiList = new List<SelectListItem>
    {
    new SelectListItem { Value = "Linkedin", Text = "Linkedin" },


    // Daha fazla seçenek eklenebilir
    };

    }
<h1>API </h1>


    <table class="table table-bordered">
        <tr>
            <td>Başlık</td>
            <td>Token</td>
            <td>Son Değişiklik</td>
            <td>Sil</td>
            <td>Güncelle</td>

        </tr>
        @foreach (var api in Model.Token)
        {
            <tr>
                <td> <div style="min-width:100px;">@api.TokenTitle </div></td>
                <td>@api.Token</td>
                <td>@api.CreatedDate</td>
                <td id="silButton"><a asp-controller="Home" asp-action="ApiSil" asp-all-route-data="@(new Dictionary<string,string>(){{"Id",api.Id.ToString()}})" class="btn btn-danger">Sil</a></td>
                <td><a asp-controller="Home" asp-action="ApiGuncelle" asp-all-route-data="@(new Dictionary<string,string>(){{"Id",api.Id.ToString()}})" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table> 


    <button type="button" class="btn btn-primary" id="apieklebuton">Yeni Api Ekle</button>

    <form method="post" action="/Home/ApiEkle" enctype="multipart/form-data">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="form-group" id="exampleModalLabel">YENİ API EKLE</h1>
                    </div>
                    <div class="modal-body">
                        <h3>Sosyal Medya Türü</h3>
                        <div class="form-group">
                            <div class="form-group" id="rol">
                                @Html.DropDownListFor(elm => elm.SingleToken.ApiTuru, new SelectList(ApiList, "Value", "Text"), new { @class = "form-control" })
                            </div>

                        <h3>Açıklama</h3>
                        <div class="form-group" id="baslik"> @Html.TextBoxFor(elm=>elm.SingleToken.TokenTitle, new {@class = "form-control", @type="text", @placeholder="Açıklama giriniz...", @value = Model?.SingleToken.TokenTitle}) </div>
                        <h3>Token</h3>
                        <div class="form-group" id="token"> @Html.TextBoxFor(elm=>elm.SingleToken.Token, new {@class = "form-control", @type="text", @placeholder="Token giriniz...", @value = Model?.SingleToken.Token}) </div>
                        <div class="modal-footer">
                            <a class="btn btn-secondary" asp-action="Api">İptal</a>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

             @{
                                <script>
                                   
                                    document.getElementById("baslik").querySelector("input").value = "";
                                    document.getElementById("token").querySelector("input").value = "";
                                </script>
                        }
    </form>

    
    <script>
        $('body').on('click', '#apieklebuton', function () {
            $(".modal").modal('show');
        })
    </script>


</body>
</html>
