@using Portal.Domain.Entities;

@{
    Layout = "_UserLayout";
}
@model Etkinlik
<body>


    <form method="post" action="KullaniciEdit" enctype="multipart/form-data">


        <div class="modal-header">
            <h2 id="exampleModalLabel">@Model.title</h2>
        </div>
        <div class="modal-body">
            <h4>Etkinlik Id</h4>
            <div class="form-group"> @Html.TextBoxFor(elm => elm.Id, new { @class = "form-control", @type = "text" ,@value=Model.Id}) </div>

            <h4>Etkinlik Tarihi</h4>
            <div class="form-group"> @Html.TextBoxFor(elm => elm.start, new { @class = "form-control", @type = "date",@value=Model.start}) </div>

            <h4>Etkinlik Adı</h4>
            <div class="form-group"> @Html.TextBoxFor(elm => elm.title, new { @class = "form-control", @type = "text",@value=Model.title }) </div>

            <h4>Etkinlik Metni</h4>
            <div class="form-group"> @Html.TextAreaFor(elm => elm.description, new { @class = "form-control" ,@value=Model.description}) </div>
            
            <h4>Fotoğraf</h4>
            <div style="">
                <div class="form-group"> <img src="~/Images/@Model.image" +".png" alt="Fotoğraf Görüntüsü" style="max-height:400px; max-width:400px;"></div>


                <input asp-for="image" type="file">
            </div>
            

            <h4>Paylaşılacak Platform</h4>
            <div style="font-size: 20px;">
                <label>
                    @*@Html.CheckBoxFor(elm => elm.EtkinlikEkle.linkedin, new { @checked = Model.Etkinlik.linkedin })*@

                    @*<input type="checkbox" name="linkedin" @(Model.Etkinlik.linkedin == true ? "checked" : "") />*@
                    <span class="bi bi-linkedin"></span>
                </label>
            </div>

            <div style="font-size: 20px;">
                <label>
                    <input type="checkbox" name="whatsapp" @(Model.whatsapp == true ? "checked" : "") />
                    <span class="bi bi-whatsapp"></span>
                </label>
            </div>
            </div>
    </form>
</body>