@using Portal.Domain.Entities;
@model Etkinlik
@{
    Layout = "_AdminLayout";
}

<html>
<head>
   
</head>

<body >




  <div style=" box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); padding: 20px; " > 
    <div class="modal-header">
        <h2 id="exampleModalLabel">@Model.title</h2>
    </div>
    <div class="modal-body">
        <h4>Etkinlik Tarihi</h4>
    <div class="form-group"> @Html.TextBoxFor(elm => elm.start, new { @class = "form-control", @type = "text", @readonly = "readonly" }) </div>
        <h4>Etkinlik Adı</h4>
    <div class="form-group"> @Html.TextBoxFor(elm => elm.title, new { @class = "form-control", @type = "text" , @readonly = "readonly"}) </div>
         <h4>Etkinlik Metni</h4>
    <div class="form-group"> @Html.TextAreaFor(elm => elm.description, new { @class = "form-control" , @readonly = "readonly"}) </div>
     
    @if (!string.IsNullOrEmpty(Model.image))
    { <h4>Fotoğraf</h4>
     <div class="form-group" > <img src="~/Images/@Model.image"+".png" alt="Fotoğraf Görüntüsü" style="max-height:400px; max-width:400px;"></div>
    }
          <h4>Paylaşılacak Platform</h4>
         <div style="font-size: 20px;">
         <div>
            <input  type="checkbox" name="linkedin" @(Model.linkedin ==true ? "checked" : "") disabled />
             <span class="bi bi-linkedin"></span>
          </div>

         <div>
         <input type="checkbox" name="whatsapp" @(Model.whatsapp == true ? "checked" : "")disabled />
          <span class="bi bi-whatsapp"></span>
          </div>
    </div>
          <div class="form-group"> 
          <br />
            <a  asp-controller="Home" asp-action="EtkinlikSil" asp-all-route-data="@(new Dictionary<string,string>(){{"Id",Model.Id.ToString()}})" class="btn btn-danger">Sil</a>
       
     </div> 
     </div>
     </div>
	</body>
</html>







